.callback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 16px;

  p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
  }
}
