@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.ag-theme-material {
  --ag-header-height: 48px;
  --ag-row-height: 42px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.preview-dialog-panel {
  .mat-mdc-dialog-surface {
    background: #0d111c;
    color: #ffffff;
  }
}
